@import url('https://free.bboxtype.com/embedfonts/?family=FiraGO:400,500,600,700,800');

body {
    font-family: FiraGO;
    width: 1920px;
    min-height: 1080px;
    height: 100%;
    position: relative;
    margin: 0;
    background: #F3F2FA;
}

header {
    display: flex;
    align-items: center;
    width: 1920px;
    height: 80px;
    flex-shrink: 0;
    border-bottom: 1px solid #E4E3EB;
    background: #FFF;
}

header button {
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #5D37F3;
    color: #FFF;
    border: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

header button:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px #390af3;
}

#log-in-btn {
    margin-left: auto; 
    margin-right: 76px;
}

#create-blog {
    margin-left: auto; 
    margin-right: 76px;
}

.log-in-form-bg {
    width: 1920px;
    height: 100%;
    position: absolute;
    background: #1A1A1F;
    opacity: 0.24;
    z-index: 50;
}

.log-in-form {
    margin-left: 750px;
    margin-top: 374px;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FFF;
    border-radius: 12px;
    width: 480px;
    height: 272px;
    flex-shrink: 0;
    color: #1A1A1F;
    z-index: 100;
}

.log-in-input {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#add {
    margin-top: 20px; 
    margin-right: 20px; 
    margin-left: auto;
    width: 24px;
    height: 24px;
}

#add:hover {
    cursor: pointer;
}

.mail-input {
    display: flex;
    flex-direction: column;
    width: 432px;
}

.mail-input input {
    margin-top: 8px; 
    height: 44px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1.5px solid #5D37F3;
    background: #F7F7FF;
}

.error {
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: #EA1919;
    font-weight: 400;
}

.log-in-success {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.submit {
    display: flex;
    width: 432px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #5D37F3;
    color: #FFF;
    border: 0;
}

.submit:hover {
    cursor: pointer;
}

h1 {
    color: #1A1A1F;
    font-family: FiraGO;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    margin-left: 89px;
    margin-top: 128px;
}

.blog-section {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.categories {
    margin-top: 64px;
    margin-bottom: 64px;
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
    width: 1288px;
    /* flex-wrap: wrap; */
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: 10px;
}

.categories::-webkit-scrollbar {
    height: 5px;
  }
  
  /* Track */
  .categories::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  .categories::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  .categories::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.categories button {
    display: flex;
    border-color: unset;
    padding: 8px 16px;
    border-radius: 30px;
    font-weight: 500;
    border: none;
    align-items: flex-start;
    white-space: nowrap;
    /* line-height: 16px; */
    height: 32px;
    /* flex-wrap: nowrap; */
}

.blogs {
    display: flex;
    width: 1288px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 56px 32px;
    flex-wrap: wrap;
}

.blogs img {
    width: 408px;
    height: 328px;
    border-radius: 12px;
    margin-bottom: 16px;
}

.blogs div {
    width: 408px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.blogs h5 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
}

.blogs span {
    color: #85858D;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 8px;
}

.blogs h3 {
    color: #1A1A1F;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    margin: 0;
    margin-bottom: 8px;
}

.blogs div div {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 8px;
}

.blogs div div button {
    display: flex;
    padding: 6px 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 30px;
    border: 0;
}

.blogs div div button:hover {
    cursor: default;
}

.blogs p {
    color: #404049;
    font-size: 16px;
    height: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin: 0;
    margin-bottom: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blogLink{
    display: flex;
    align-items: flex-start;
    color: #5D37F3;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    text-decoration: none;
}

.blogLink img {
    width: 20px;
    height: 20px;
    margin: 0;
}

button:hover {
    cursor: pointer;
}
